*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Barlow', sans-serif;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
}

h1{
  font-size: 64px;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 32px;
}

h5{
  font-size: 18px;
  color: #091E3E;
}

h6{
  text-transform: uppercase;
  font-size: 16px;
}

p{
  color: #6B6A75;
  margin-bottom: 0;
  margin-top: 0;
}
.navbar-top{
  background: #091E3E;
  color: #EEF9FF;
  font-size: 14px;
  font-weight: 400;
}
.navbar-top p{
  color: #fff;
}
.navbar-top a{
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.navbar-top p{
  margin-bottom: 0;
}
.top-nav-social a{
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/* End top nav */
.navbar{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px 0px;
  background-color: #fff;
}
.navbar-brand{
  color: #06A3DA;
  font-weight: 800;
  font-size: 40px;
}
.navbar-brand:focus, .navbar-brand:hover{
  color: #091E3E;
}
.navbar-nav .nav-item .nav-link{
  color: #6c757d;
  font-weight: 400;
  font-size: 18px;
}
.btn-one{
  background-color: #06A3DA;
  border: 1px solid #06A3DA;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all 0.4s;
}
.btn-two{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  padding: 10px 30px;
  border-radius: 3px;
  transition: all 0.4s;
}
.btn-two:hover{
  background-color: #fff;
  border: 1px solid #fff;
  color: #000;
}
.btn-one:hover{
  background-color: #fff;
  border: 1px solid #06A3DA;
  color: #000;
}

.btn{
  padding: 16px 48px;
}
.navbar-nav .nav-item .nav-link:hover,.navbar-nav .nav-item .nav-link:active{
  color: #06A3DA!important;
}
/* End Navbar */

.slide1{
  min-height: 100vh;
  background-image: linear-gradient(#0000005f, #000000dc),url(../images/banner-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.slide2{
  min-height: 100vh;
  background-image: linear-gradient(#0000005f, #000000dc),url(../images/banner-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.owl-prev, .owl-next{
  position: absolute;
  top: 50%;
  background: #ffffff76!important;
  width: 60px!important;
  height: 60px!important;
  margin-top: -30px!important;
  border-radius: 50%!important;
  color: #fff!important;
  font-size: 12px!important;
  font-weight: 700!important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s;
}
.owl-prev:hover, .owl-next:hover{
  background-color: #06A3DA!important;
}
.owl-prev{
  left: 0;
}
.owl-next{
  right: 0;
}
/* End Hero Slide */

.about-area{
  padding-top: 30px;
  padding-bottom: 30px;
  overflow-x: hidden;
}
.about-icon{
  background-color: #06A3DA;
  color: #fff;
  width: 85px;
  height: 85px;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 40px 0px;
  font-size: 35px;
  margin-right: 25px;
}
.about-single-box{
  display: flex;
  align-items: center;
}
/* End About Area */

.milestone-area{
  min-height: 200px;
  background-image: linear-gradient(#06a2daee, #06a2daec),url(../images/banner-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.milestone-area h1, .milestone-area p{
  color: #fff;
}
/* End Milestone Area */

.services-area{
  padding-top: 80px;
  padding-bottom: 80px;
}

.subheader{
  color: #06A3DA;
}

.header{
  color: #091E3E;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subheader-brief{
  max-width: 35%;
  margin: auto;
}

.services-container{
  padding-top: 50px;
}

.services-box{
  background-color: #EEF9FF;
  text-align: center;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.different-services-box{
  background-color: #06A3DA;
  padding: 48px;
}
.different-services-box h5,.different-services-box h3,.different-services-box p{
  color: #fff;
}

.different-services-box h3{
  padding-top: 20px;
  padding-bottom: 23px;
}
.services-box h5{
  padding-top: 20px;
  padding-bottom: 10px;
}